.input-54 {
  width: 50%;
  color: rgb(36, 35, 42);
  font-size: 14px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  :focus{
      border: 2px solid rgb(124, 138, 255);
  }
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  /* box-shadow: #422800 2px 2px 0 0; */
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

body {
  min-height: 100%;
  /* color: #333; */
  /* background-color: #fff; */
  margin: 0;
  /* font-family: Arial, sans-serif; */
  font-size: 14px;
  /* line-height: 20px; */
  color: #1a1b1f;
  background-color: #fffff0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-clearfix:after {
  clear: both;
}

.w-hidden {
  display: none;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

html[data-w-dynpage] [data-w-cloak] {
  color: rgba(0, 0, 0, 0) !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row:before, .w-row:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-row:after {
  clear: both;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.w-nav {
  z-index: 1000;
  background: #fffff0;
  background: #fffff0;
  position: relative;
}

.w-nav:before, .w-nav:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-link.w--current {
  color: #0082f3;
}

.w-nav-menu {
  float: right;
  position: relative;
}

[data-nav-menu-open] {
  text-align: center;
  min-width: 200px;
  background: #c8c8c8;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: visible;
  display: block !important;
}

.w--nav-link-open {
  display: block;
  position: relative;
}

.w-nav-overlay {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-nav-overlay [data-nav-menu-open] {
  top: 0;
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  right: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
  z-index: 1;
  top: 0;
  left: auto;
}

.w-nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.w-nav-button:focus {
  outline: 0;
}

.w-nav-button.w--open {
  color: #fff;
  background-color: #c8c8c8;
}

.w-nav[data-collapse="all"] .w-nav-menu {
  display: none;
}

.w-nav[data-collapse="all"] .w-nav-button, .w--nav-dropdown-open, .w--nav-dropdown-toggle-open {
  display: block;
}

.w--nav-dropdown-list-open {
  position: static;
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
  }

  .w-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block;
  }
}

.w-tabs {
  position: relative;
}

.w-tabs:before, .w-tabs:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-tabs:after {
  clear: both;
}

.w-tab-menu {
  position: relative;
}

.w-tab-link {
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  color: #222;
  background-color: #ddd;
  padding: 9px 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-tab-link.w--current {
  background-color: #c8c8c8;
}

.w-tab-link:focus {
  outline: 0;
}

.w-tab-content {
  display: block;
  position: relative;
  overflow: hidden;
}

.w-tab-pane {
  display: none;
  position: relative;
}

.w--tab-active {
  display: block;
}

@media screen and (max-width: 479px) {
  .w-tab-link {
    display: block;
  }
}

.w-ix-emptyfix:after {
  content: "";
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

html[data-w-dynpage] [data-w-cloak] {
  color: rgba(0, 0, 0, 0) !important;
}

.w-dyn-empty {
  background-color: #ddd;
  padding: 10px;
}

.w-dyn-hide, .w-dyn-bind-empty, .w-condition-invisible {
  display: none !important;
}

.wf-layout-layout {
  display: grid;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-users-userformpagewrap {
  height: 430px;
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.w-users-useraccountsubscriptionlist {
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow: auto;
}

.w-users-useraccountsubscriptionlistitem {
  align-items: flex-start;
  display: flex;
}

.w-commerce-commercecartiteminfo {
  flex-direction: column;
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
}

.w-commerce-commercecartproductname {
  font-weight: 700;
}

.w-users-gridrow {
  grid-column-gap: 8px;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  display: grid;
}

.w-users-flexcolumn {
  flex-direction: column;
  display: flex;
}

.w-users-useraccountsubscriptioncancelbutton {
  color: #3898ec;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

@media screen and (max-width: 767px) {
  .w-commerce-commercelayoutmain {
    flex-basis: auto;
    margin-right: 0;
  }

  .w-commerce-commercelayoutsidebar {
    flex-basis: auto;
  }

  .w-commerce-commercelayoutcontainer {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  .w-commerce-commercecheckoutemailinput, .w-commerce-commercecheckoutshippingfullname, .w-commerce-commercecheckoutshippingstreetaddress, .w-commerce-commercecheckoutshippingstreetaddressoptional {
    font-size: 16px;
  }

  .w-commerce-commercecheckoutrow {
    flex-direction: column;
  }

  .w-commerce-commercecheckoutshippingcity, .w-commerce-commercecheckoutshippingstateprovince, .w-commerce-commercecheckoutshippingzippostalcode, .w-commerce-commercecheckoutshippingcountryselector, .w-commerce-commercecheckoutcardnumber, .w-commerce-commercecheckoutcardexpirationdate, .w-commerce-commercecheckoutcardsecuritycode, .w-commerce-commercecheckoutbillingfullname, .w-commerce-commercecheckoutbillingstreetaddress, .w-commerce-commercecheckoutbillingstreetaddressoptional, .w-commerce-commercecheckoutbillingcity, .w-commerce-commercecheckoutbillingstateprovince, .w-commerce-commercecheckoutbillingzippostalcode, .w-commerce-commercecheckoutbillingcountryselector, .w-commerce-commerceaddtocartquantityinput {
    font-size: 16px;
  }
}

  .detail-subheader {
    font-size: 30px;
    font-weight: 300;
    color: #282828;
    margin-top: -15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;}

  .detail-box-q {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 0.25rem; 
    background-color: #800080; 
    color: #ffffff; 
    font-weight: 500; 
    font-size: 0.875rem; 
  }

  .detail-box-a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 0.25rem; 
    /* background-color: #E6E6FA;  */
    background-color: #fbeee0;
    color: #000; 
    font-weight: 500; 
    font-size: 0.875rem; 
  }
  

.detail-q { 
  color: #000; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 16px; 
  margin: 0 0 15px;
}

.detail-a { 
  color: #424033; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 16px; 
  margin: 0 0 40px;
}

.detail-keyword{
  /* background-color: rgba(51, 51, 51, 0.05); */
  /* background-color: #E6E6FA; */
  background-color: #fbeee0;
  border-radius: 5px;
  border-width: 0;
  color: #333333;
  margin-bottom: 10px;
  /* cursor: pointer; */
  display: inline-block;
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 14px;
  /* font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0; */
  padding: 5px 10px;
  text-align: center;
  /* transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
}


/* body {

} */

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
  line-height: 62px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

h3 {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #43464d;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  opacity: .6;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.divider.cc-dark-divider {
  height: 1px;
  background-color: #202020;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
}

.cc-subscribe-form {
  background-color: #f4f4f4;
  margin-left: 0;
  margin-right: 0;
}

.section.cc-product-detail {
  align-items: center;
  display: flex;
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.flex-container{
  display: flex;
}

.flex-child {
  flex: 1;
  margin-left: 20px; /* Adjust the margin between boxes as needed */
} 

/* .flex-child:nth-child(2) {
  flex: 2;
}  */


.container.cc-subscription-form {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  padding-top: 130px;
  padding-bottom: 140px;
  display: flex;
}

.container.cc-heading-wrap {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.container.cc-full-width-form-wrap {
  align-items: flex-start;
  display: flex;
}

/* .category-topic {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
} */

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-tiny.cc-paragraph-tiny-light {
  opacity: .7;
}

.paragraph-bigger {
  opacity: 1;
  color: #171342;
  margin-bottom: 30px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
  color: #171342;
  -webkit-text-stroke-color: #2e1a77;
  background-color: #fff;
  font-size: 16px;
}

.button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #2e1a77;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #fff;
  background-color: #32343a;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  color: #202020;
  background-color: #f96262;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button.cc-white-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

.button.cc-white-button:active {
  background-color: rgba(255, 255, 255, .9);
}

.button.cc-add-to-cart-btn {
  margin-top: 10px;
  margin-right: 10px;
}

.label {
  color: #2e1a77;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-cart-remove-link {
  color: #a7a7a7;
  margin-top: 4px;
  margin-bottom: 5px;
  font-weight: 400;
  text-decoration: none;
}

.label.cc-blog-date {
  opacity: .6;
  margin-top: 20px;
}

.heading-jumbo-tiny {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.paragraph-light {
  letter-spacing: 0;
  text-transform: none;
  font-size: 16px;
  line-height: 26px;
}

.paragraph-light.cc-subscribe-paragraph {
  width: 40%;
}

.heading-jumbo {
  color: #2e1a77;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 64px;
  line-height: 80px;
}

.heading-jumbo-small {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  height: 460px;
  color: #fff;
  text-align: center;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.cart-footer {
  padding-top: 20px;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  width: 70%;
  margin: 100px auto;
  display: block;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.product-name-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

.product-name-text.cc-name-text-cart {
  font-size: 14px;
  line-height: 26px;
}

.product-name-text.cc-shipping-option {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 26px;
}

.cart-item-info-wrap {
  margin-top: -5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart-quantity {
  height: auto;
  min-width: auto;
  color: #fff;
  letter-spacing: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  display: block;
}

.navigation-items {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: left;
}

.cart {
  margin-left: 20px;
}

.navigation {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding: 20px 50px;
  display: flex;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus, .text-field.-wfp-focus {
  border-color: #43464d;
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field.cc-subscribe-text-field {
  width: 330px;
  margin-bottom: 0;
  margin-right: 10px;
}

.text-field.cc-subscribe-text-field:focus {
  border-color: #32343a;
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.text-field.cc-quantity-field {
  width: 80px;
  height: auto;
  background-color: #fff;
  border-color: #e6e6e6;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  padding: 8px 12px 8px 20px;
}

.cart-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-line-item {
  margin-bottom: 10px;
}

.navigation-item {
  opacity: .6;
  color: #2e1a77;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.icon, .logo-image {
  display: block;
}

.remove-button {
  text-decoration: none;
}

.cart-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation-wrap {
  align-items: center;
  display: flex;
}

.navigation-wrap-1 {
  align-items: start;
  display: flex;
}

.cart-container {
  min-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.products-heading {
  text-align: center;
  margin-bottom: 80px;
}

.collection-wrap {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.intro-header {
  height: 500px;
  color: #fff;
  background-color: #fffff0;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  font-family: Inconsolata, monospace;
  display: flex;
}

.collection-item {
  width: 33.33%;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.intro-content {
  width: 80%;
  max-width: 1140px;
  text-align: center;
  margin-bottom: 20px;
}

.intro-text {
  width: 80%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.main-heading-wrap {
  margin-bottom: 60px;
}

.main-paragraph-wrap {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  margin-top: 60px;
  margin-bottom: 150px;
}

.subscribe-form {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-block {
  margin-top: 20px;
}

.footer {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: ". . . . ."
                 ". . . . ."
                 / 2fr 1fr 1fr 1.25fr 1fr;
  align-items: start;
  justify-items: start;
  padding-top: 120px;
  padding-bottom: 60px;
}

.footer-link {
  opacity: .6;
  color: #2e1a77;
  margin-bottom: 15px;
  font-size: 14px;
  text-decoration: none;
  transition: color .2s, opacity .2s;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link.w--current {
  color: #2e1a77;
}

.made-with-webflow {
  opacity: .5;
  align-items: center;
  margin-top: 70px;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.made-with-webflow:hover {
  opacity: 1;
}

.made-with-webflow:active {
  opacity: .8;
}

.links-section-footer {
  margin-top: 40px;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.product-image-wrap {
  width: 100%;
  height: 620px;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .6s;
  display: block;
  position: relative;
}

.product-image-wrap:hover {
  opacity: .9;
  color: #fff;
}

.product-image-wrap:active {
  opacity: .85;
  color: #fff;
}

.product-description {
  position: absolute;
  top: auto;
  bottom: 30px;
  left: 30px;
  right: auto;
}

.product-price-text {
  opacity: .6;
  font-size: 14px;
  line-height: 26px;
}

.about-quote {
  width: 70%;
  text-align: center;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.picture-placeholder {
  height: 460px;
  background-color: #f4f4f4;
  background-image: url("https://uploads-ssl.webflow.com/64a4af65db33c4133c120e71/64a4af65db33c4133c120eff_Placeholder%201.svg");
  background-position: 45%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.picture-placeholder.cc-about-2 {
  height: 620px;
  background-image: url("https://uploads-ssl.webflow.com/64a4af65db33c4133c120e71/64a4af65db33c4133c120efa_placeholder%201%20-%20wide.svg");
  background-position: 50%;
  background-size: cover;
}

.picture-placeholder.cc-about-3 {
  background-image: url("https://uploads-ssl.webflow.com/64a4af65db33c4133c120e71/64a4af65db33c4133c120efb_placeholder%202.svg");
  background-position: 50%;
  background-size: cover;
}

.picture-placeholder.cc-about-1 {
  background-image: url("https://uploads-ssl.webflow.com/64a4af65db33c4133c120e71/64a4af65db33c4133c120efc_placeholder%201.svg");
  background-position: 50%;
  background-size: cover;
}

.about-pictures-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 150px;
}

.contact-name-field-wrap {
  width: 50%;
  padding-right: 10px;
}

.email-name-field-wrap {
  width: 50%;
  padding-left: 10px;
}

.get-in-touch-form-wrap {
  width: 70%;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.get-in-touch-form {
  flex-direction: column;
  display: flex;
}

.credentials-inputs-wrap {
  display: flex;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.paragraph-contact-text {
  margin-bottom: 10px;
}

.grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: ". . . ."
  / 1fr 1fr 1fr 1fr;
  margin-top: 60px;
}

.support-link {
  opacity: .7;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
  transition: opacity .2s;
}

.support-link:hover {
  opacity: 1;
}

.support-link:active {
  opacity: .8;
}

.contacts-section {
  text-align: center;
  margin-bottom: 100px;
}

.store-categories-wrap {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.products-category-link {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.products-category-link:hover {
  opacity: 1;
}

.products-category-link:active {
  opacity: .8;
}

.products-category-link.w--current {
  opacity: 1;
  letter-spacing: 1px;
  font-weight: 600;
}

.products-category-link.w--current:hover {
  opacity: .8;
}

.products-category-link.w--current:active {
  opacity: .7;
}

.collection-list {
  justify-content: center;
  display: flex;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-preview-image {
  width: 100%;
  height: 620px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50%;
  background-size: cover;
  margin-bottom: 45px;
  transition: opacity .6s;
  display: block;
}

.blog-preview-image:hover {
  opacity: .7;
}

.blog-summary-wrap {
  width: 70%;
  text-align: left;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-wrap {
  width: 100%;
  height: 100%;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.protected-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.product-detail-measurement {
  align-items: center;
  display: flex;
}

.product-detail-main-details {
  margin-bottom: 30px;
}

.product-details-wrap {
  width: 50%;
  max-width: 470px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.add-to-cart {
  margin-top: 30px;
}

.product-image {
  width: 50%;
  height: 700px;
  background-color: #f4f4f4;
  background-image: url("https://uploads-ssl.webflow.com/64a4af65db33c4133c120e71/64a4af65db33c4133c120efc_placeholder%201.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
}

.product-detail-cta-wrap {
  margin-top: 0;
  display: flex;
}

.product-informations {
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-item {
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.product-detail-price {
  opacity: .6;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 52px;
}

.product-detail-name {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 52px;
}

.product-detail-unit-text {
  margin-left: 6px;
}

.product-detail-unit-text.cc-middle-text {
  margin-right: 6px;
}

.total-count-text {
  font-weight: 600;
}

.block-header {
  border-color: #e4e4e4;
  padding: 16px 24px;
}

.block-content {
  border-bottom-color: #e4e4e4;
  border-left-color: #e4e4e4;
  border-right-color: #e4e4e4;
  padding: 24px 24px 12px;
  font-weight: 400;
}

.full-width-form {
  background-color: #f4f4f4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.order-item-list {
  margin-bottom: -5px;
}

.order-item-description-wrap {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.order-item-content-wrap {
  margin-left: 24px;
}

.order-item-price {
  font-size: 14px;
}

.checkout-quantity-wrap {
  opacity: .6;
  font-size: 14px;
  line-height: 26px;
}

.order-confirmation-header-wrapper {
  font-weight: 100;
}

.select {
  height: 42px;
  margin-bottom: 16px;
}

.checkbox-label {
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 0;
  margin-left: 12px;
  font-size: 14px;
  line-height: 26px;
}

.billing-address-toggle {
  align-items: center;
  margin-bottom: 20px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 4px;
}

.shipping-method {
  border-bottom-color: #e4e4e4;
  padding: 20px 24px;
}

.shipping-method-list {
  border-left-color: #e4e4e4;
  border-right-color: #e4e4e4;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.blog-header-image {
  width: 100%;
  height: 620px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50%;
  background-size: cover;
  margin-bottom: 60px;
  display: block;
}

.blog-header-image.w--current {
  margin-bottom: 60px;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: .8;
}

.blog-heading-link:active {
  opacity: .7;
}

.option-list {
  font-size: 14px;
  line-height: 26px;
}

.option {
  margin-bottom: 25px;
}

.cart-option-list {
  color: #a7a7a7;
  margin-top: 0;
  font-size: 14px;
  line-height: 26px;
}

.cart-option-wrap {
  margin-bottom: 0;
}

.option-item-value {
  color: #1a1b1f;
}

.apple-pay, .pay-with-browser {
  height: 42px;
}

.order-wrap {
  flex-basis: 750px;
}

.order-summary {
  flex-basis: 370px;
}

.billing-address-toggle-2 {
  align-items: stretch;
  margin-bottom: 10px;
}

.checkbox-label-2 {
  margin-bottom: 0;
}

.checkbox-2 {
  margin-top: 2px;
}

.cc-quantity-field-label {
  margin-bottom: 0;
}

.text-block {
  color: #2e1a77;
}

.text-block-2, .text-block-3 {
  color: #2e1a77;
  font-size: 14px;
}

.text-block-6 {
  color: #43464d;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  -webkit-text-stroke-color: #171342;
}

.image {
  margin-bottom: 60px;
}

.grid-2 {
  grid-column-gap: 100px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.heading-2 {
  color: #2e1a77;
  -webkit-text-stroke-color: #2e1a77;
  font-family: Inconsolata, monospace;
}

.heading-3 {
  font-family: Inconsolata, monospace;
}

.heading-5 {
  color: #422800;
}

/* .body-2 {
  margin-bottom: 0;
  padding-bottom: 140px;
} */

.submit-button {
  color: #fffff0;
  object-fit: fill;
  background-color: #2e1a77;
}


