{% load static %}
<!DOCTYPE html>
<html data-wf-domain="chatgpt-helper-4ba65a.webflow.io" data-wf-page="64a4af65db33c4133c120ec0"
    data-wf-site="64a4af65db33c4133c120e71">

<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/homepage.css' %}"></script>
</head>

<body class="body">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navigation w-nav">
    <div class="navigation-items"><a href="/" class="logo-link w-nav-brand"><img src="{% static 'img/logo.png' %}" width="65" alt="" class="logo-image" /></a>
    </div>
    </div>

    <div class="section">
        <div class="intro-header">
            <div class="intro-content">
                <div class="intro-text">
                    <div class="heading-jumbo">About Us<br /></div>
                    <div class="paragraph-bigger cc-bigger-light">ChatGPT Helper<br /></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-heading-wrap">
                <h1>This is our life story</h1>
                <div class="paragraph-bigger cc-bigger-light">Introducing our final year project: ChatGPT Helper!</div>
            </div>
            <div class="divider"></div>
            <div class="w-layout-grid main-paragraph-wrap">
                <div id="w-node-_53e486a3-d9ec-02e6-3297-290011284712-3c120ec0" class="text-block-2">ChatGPT
                    Helper is an innovative project that focuses on organizing answers from ChatGPT within our own
                    website, based on user preferences and utilizing an LDA (Latent Dirichlet Allocation) model. This
                    approach allows us to provide users with a more tailored and efficient experience. By leveraging
                    ChatGPT&#x27;s conversational abilities and the LDA model&#x27;s topic modeling capabilities, we can
                    categorize and present answers in a structured manner that aligns with the user&#x27;s chosen
                    topics. This integration enhances the overall usability and navigability of our website, ensuring
                    that users can easily access the information they need while engaging in meaningful conversations.
                    With ChatGPT Helper, we strive to provide a unique and optimized chat experience that combines the
                    power of AI-generated responses with intelligent organization through LDA modeling.</div>
                <div id="w-node-_042333ef-0ef1-01b1-9bf2-0cff3a9edeb9-3c120ec0" class="text-block-2">We value user
                    feedback and encourage you to join us on this exciting journey with ChatGPT Helper! Your input is
                    vital in helping us improve the system and create a more satisfying user experience. Whether
                    it&#x27;s suggestions, reporting issues, or sharing ideas for new features, your feedback plays a
                    crucial role in shaping the future of ChatGPT Helper. By actively involving users like you, we can
                    refine the AI capabilities, enhance the accuracy of responses, and ensure that ChatGPT Helper meets
                    your needs effectively. Together, we can push the boundaries of AI-assisted conversations and create
                    a tool that truly empowers users in various domains. Join us on this journey as we continue to
                    evolve and improve ChatGPT Helper. Your feedback is invaluable, and we look forward to collaborating
                    with you to make this chat platform even more remarkable. Let&#x27;s embark on this exciting
                    adventure together!</div>
            </div>
        </div>
      
        <div class="container">
            <div class="about-quote">
                <h2>Our Philosophy</h2>
                <div class="paragraph-bigger cc-bigger-light">&quot;The future belongs to those who believe in the
                    beauty of their dreams.&quot;</div>
                <div class="paragraph-light">― Eleanor Roosevelt</div>
            </div>
        </div>
    </div>
</body>

</html>