{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Category</title>
</head>

<body>

  <div class="container.cc-heading-wrap">
    <h1 class="heading-5">Category</h1>
  </div>

    <div class="category-topic">
      {%for category in userCategories %}
        <button class="topic-buttons" onclick="location.href='/category/{{category.pk}}'">{{category.inserted_category}}</button>
      {%endfor%}
        <!-- <button class="topic-buttons" onclick="location.href='/main'">Gandcrab<button>
        <button class="topic-buttons">Database</button>
        <button class="topic-buttons">Digital Forensic</button>
        <button class="topic-buttons">Blockchain</button>
        <button class="topic-buttons">Cryptography</button>  -->

    </div>

</body>

</html>
