{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Contact</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon"> 
    <!-- <script src="{% static 'js/homepage.css' %}"></script> -->
</head>

<body class="body-2">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navigation w-nav">
    <div class="navigation-items"><a href="/" class="logo-link w-nav-brand"><img src="{% static 'img/logo.png' %}" width="65" alt="" class="logo-image" /></a>
    </div>
    </div>

    <div class="section">
        <div class="container cc-heading-wrap">
            <h1 class="heading-3">Get in touch</h1>
            <div class="paragraph-bigger cc-bigger-light">Hey there, fill out this form</div>
        </div>
        <div class="container">
            <div class="get-in-touch-form-wrap w-form">
                <form id="wf-form-Get-In-Touch-Form" name="wf-form-Get-In-Touch-Form" data-name="Get In Touch Form"
                    method="get" class="get-in-touch-form" data-wf-page-id="64a4af65db33c4133c120ec3"
                    data-wf-element-id="ecbd41cd-5b2d-78be-ec94-d855601f627b">
                    <div class="credentials-inputs-wrap">
                        <div class="contact-name-field-wrap"><label for="name">Name</label><input type="text"
                                class="text-field cc-contact-field w-input" maxlength="256" name="name" data-name="Name"
                                placeholder="Enter your name" id="Name" /></div>
                        <div class="email-name-field-wrap"><label for="Email-2">Email Address</label><input type="email"
                                class="text-field cc-contact-field w-input" maxlength="256" name="Email"
                                data-name="Email" placeholder="Enter your email" id="Email-2" required="" /></div>
                    </div><label for="">Message</label><textarea id="field" name="field"
                        placeholder="Enter your message" maxlength="5000" data-name="Field"
                        class="text-field cc-textarea cc-contact-field w-input"></textarea><input type="submit"
                        value="Submit" data-wait="Please wait..." class="button w-button" />
                </form>
                <div class="status-message cc-success-message w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="status-message cc-error-message w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>