{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<html>
<head>

</head>
<body>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-buttons">
        
      </div>
    </div>
  </footer>

  {% comment %} chrome extension test {% endcomment %}
  {%for content in contents%}
  <div id="data-container">
    <div class="keywords-container">
      Selected keywords:
      <div class="keywords">
        {{content.topics}}
      </div>
    </div>
    
    <div class="answer-container">
      Answers:
      <div class="answer">
        {{content.answer}}
      </div>
    </div>
    <br>
    <br>
    
  </div>
  {%endfor%}

  
</body>
</html>