{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  {% comment %} <script src="main.js"></script> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-buttons">
        <button class="footer-button">Topic</button>
      </div>
    </div>
  </footer>

  {% comment %} chrome extension test {% endcomment %}
  {%for content in contents%}
  <div id="data-container">
    {{content.keywords}}
    {{content.answer}}<br>
    -------------------------------------------<br>
    
  </div>
  {%endfor%}

  
</body>
</html>
