{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<html>
<head>

</head>
<body>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-buttons">
        <button class="footer-button">Topic</button>
        <button calss="footer-buttom">Topic2</button>
        <button calss="footer-buttom">Topic3</button>
      </div>
    </div>
  </footer>

  {% comment %} chrome extension test {% endcomment %}
  {%for content in contents%}
  <div id="data-container">
    <div class="keywords_container">
      selected keywords:
      <div class="keywords">
        {{content.keywords}}
      </div>
     
    </div>
    <br>
    
    <div class="answer">
      answers:
      {{content.answer}}
    </div>
    <br>
    -------------------------------------------<br>
    
  </div>
  {%endfor%}

  
</body>
</html>
