{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon"> 
    <!-- <script src="{% static 'js/homepage.css' %}"></script> -->
</head>

<body>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
        role="banner" class="navigation w-nav">
        <div class="navigation-items"><a href="/" class="logo-link w-nav-brand"><img src="{% static 'img/logo.png' %}"
                    width="65" alt="" class="logo-image" /></a>
        </div>
        <div class="navigation-wrap">
            <a href="/about/" class="navigation-item w-nav-link">About</a>
            <a href="/contact/"class="navigation-item w-nav-link">Contact</a>
        </div>
    </div>

    <div class="w-users-userformpagewrap">
    <form action="" method="POST">
        <h2 class="w-users-userformheader">SIGNUP</h2>
        <!--action부분에 백엔드 url삽입-->
        {% csrf_token %}

            <label>Username</label>
            <input class="w-input" type="text" name="username" />
            <!--{{ form.username }}-->
            <!-- <button id="isonlyid" type="button" onclick="" data-bs-toggle="modal" data-bs-target="#wrong_idform">아이디 중복</br> 확인</button> -->
            <!-- <span class="id_explain">6자이상 20자 이하의 영문,숫자만 가능</span> -->


            <label>Password</label>
            <input class="w-input" type="password" name="password1" />
            <!--{{ form.password1 }}-->
            <!-- <span class="pw1_explain">8자 이상 15자 이하의 영문,숫자만 가능</span> -->


            <label>Retype Password</label>
            <input class="w-input" type="password" name="password2" />
            <!--{{ form.password2 }}-->
            <!-- <span class="pw2_explain">비밀번호가 일치합니다</span> -->
            <!--분기처리 필요 / 비밀번호 일치하면 위 내용을, 불일치면 '동일한 비밀번호를 입력해주세요' 출력-->

            <label>E-Mail</label>
            <!--{{ form.email_address }}-->
            <input class="w-input" type="email" name="email" placeholder="chatGptHelper@example.com" />

            <button id="signup_btn" type="submit" onclick="" ref="/" data-bs-toggle="modal" data-bs-target="#howorder" class="w-users-userformbutton submit-button w-button">SUBMIT</button>
            
            <div class="w-users-userformfooter"><span>Already have an account?</span><a href="/login/"
                class="w-inline-block">Login</a></div>
        </form>

    </div>

</body>

</html>