{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>

<head>
  <title>{{sub_category_name}} </title>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon"> 
</head>

<body>

  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-items">
      <a href="/" class="logo-link w-nav-brand"><img src="{% static 'img/logo.png' %}" width="65" alt="" class="logo-image" /></a>
    </div>

    <div class="navigation-wrap">
      <a href="/category/" class="navigation-item w-nav-link">Category</a>
      <a class="navigation-item w-nav-link"> >></a>
      <!-- href="/category/{{category.pk}}/subcategory/"  -->
      <a href="{% url 'subcategory' main_category.pk %}"class="navigation-item w-nav-link"> {{main_category_name}}</a>
      <a class="navigation-item w-nav-link"> /</a>
      <!-- href="/subcategory/{{category.pk}}/"  -->
      <a href="{% url 'sub_detail' sub_category.pk %}"class="navigation-item w-nav-link" style="text-decoration: underline;"> {{sub_category_name}} </a>
    </div>

    <!-- <div class="navigation-wrap">
    <a href="/about/" class="navigation-item w-nav-link">About</a>
    <a href="/contact/"class="navigation-item w-nav-link">Contact</a>
    </div> -->
  </div>

  <div class="section container" style="display: flex; flex: 1">

    <!-- <div class="detail-subheader">
      main category: {{main_category}}<br>
      sub category: {{sub_category}}
    </div> -->
    {%for content in contents%}
    <div class="content" id="{{content.id}}">
    <div class="detail-keyword">
      Selected keywords: {{content.topics}}
      
      <!-- sub keyword 1:{{content.sub_category1}}
      sub keyword 2:{{content.sub_category2}} -->
    
    </div>

    <div class="navigation-items" style="order: 1; flex:0;">
      <div class="navigation-wrap navigation-item" >
        <!-- <img src="{% static 'img/community.png' %}" width="40" height="40"> -->
        <!-- 🤔 -->
      </div>
      <div class="delete_icon navigation-item" data-content-id="{{content.id}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg>
      </div>
    </div>

    <div class="flex-container">
      <div class="detail-box-q">
        Q
      </div>

      <div class="detail-q flex-child">
        {{content.question}}
      </div>
    </div>


    <div class="flex-container">
      <div class="detail-box-a">
        A
      </div>

      <div class="detail-a flex-child">
        {{content.answer}}
      </div>
    </div>
  </div>

    

   
    
    {%endfor%}
  </div>

  <!-- 삭제 버튼 ajax-->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var deleteIcons = document.querySelectorAll('.delete_icon');
  
      deleteIcons.forEach(function (deleteIcon) {
        deleteIcon.addEventListener('click', function () {
          var contentId = deleteIcon.getAttribute('data-content-id');
          deleteContent(contentId);
        });
      });
  
      function deleteContent(contentId) {
        fetch('/delete_content/' + contentId + '/', {
          method: 'DELETE',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token for security
          },
        })
          .then(response => {
            if(response.ok){
            var contentElement=document.getElementById(contentId)
            contentElement.remove();

          }else{
            console.error('Error:', response.statusText);
          }}
          )
          
          .catch(error => {
            console.error('Error:', error);
          });
      }
    });
  </script>
  

</body>
</html>
