{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>

<head>
  <title>{{sub_category}}</title>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon"> 
</head>

<body>

  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-items">
      <a href="/" class="logo-link w-nav-brand"><img src="{% static 'img/logo.png' %}" width="65" alt="" class="logo-image" /></a>
    </div>

    <div class="navigation-wrap">
      <a href="/category/" class="navigation-item w-nav-link">Category</a>
      <a class="navigation-item w-nav-link"> >></a>
      <!-- href="/category/{{category.pk}}/subcategory/"  -->
      <a href="{% url 'subcategory' main_category.pk %}"class="navigation-item w-nav-link"> {{main_category_name}}</a>
      <a class="navigation-item w-nav-link"> /</a>
      <!-- href="/subcategory/{{category.pk}}/"  -->
      <a href="{% url 'sub_detail' sub_category.pk %}"class="navigation-item w-nav-link" style="text-decoration: underline;"> {{sub_category_name}} </a>
    </div>

    <!-- <div class="navigation-wrap">
    <a href="/about/" class="navigation-item w-nav-link">About</a>
    <a href="/contact/"class="navigation-item w-nav-link">Contact</a>
    </div> -->
  </div>

  <div class="section container">

    <!-- <div class="detail-subheader">
      main category: {{main_category}}<br>
      sub category: {{sub_category}}
    </div> -->
    {%for content in contents%}

    <div class="detail-keyword">
      Selected keywords: {{content.topics}}
      
      <!-- sub keyword 1:{{content.sub_category1}}
      sub keyword 2:{{content.sub_category2}} -->
    
    </div>
    <div class="community_icon">
      <!--<img src="{% static 'img/community.png' %}" width="40" height="40">-->
      🤔
      
    </div>

    <div class="flex-container">
      <div class="detail-box-q">
        Q
      </div>

      <div class="detail-q flex-child">
        {{content.question}}
      </div>
    </div>


    <div class="flex-container">
      <div class="detail-box-a">
        A
      </div>

      <div class="detail-a flex-child">
        {{content.answer}}
      </div>
    </div>
    
    {%endfor%}
  </div>

</body>
</html>
