.homepage-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .homepage-homepage {
    width: 100%;
    height: 1736px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .homepage-text {
    top: 37px;
    left: 918px;
    color: rgba(0, 0, 0, 1);
    width: 69px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text02 {
    top: 37px;
    left: 853px;
    color: rgba(0, 0, 0, 1);
    width: 49px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text04 {
    top: 36px;
    left: 786px;
    color: rgba(0, 0, 0, 1);
    width: 43px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text06 {
    top: 37px;
    color: rgba(0, 0, 0, 1);
    right: 129px;
    width: 74px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text08 {
    top: 37px;
    color: rgba(0, 0, 0, 1);
    right: 32px;
    width: 84px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-rectangle401 {
    top: 90px;
    left: -16px;
    width: 1440px;
    height: 723px;
    position: absolute;
  }
  .homepage-text10 {
    top: 155px;
    left: 146px;
    color: rgba(0, 0, 0, 1);
    width: 746px;
    height: auto;
    position: absolute;
    font-size: 96px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text12 {
    top: 408px;
    left: 146px;
    color: rgba(0, 0, 0, 1);
    width: 746px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-rectangle402 {
    top: 704px;
    left: 146px;
    width: 178px;
    height: 43px;
    position: absolute;
  }
  .homepage-text14 {
    top: 714px;
    left: 162px;
    color: rgba(0, 0, 0, 1);
    width: 154px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans KR;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text16 {
    top: 840px;
    left: 963px;
    color: rgba(0, 0, 0, 1);
    width: 48px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text18 {
    top: 840px;
    left: 879px;
    color: rgba(0, 0, 0, 1);
    width: 57px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text20 {
    top: 840px;
    left: 794px;
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text22 {
    top: 840px;
    color: rgba(0, 0, 0, 1);
    right: 99px;
    width: 68px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text24 {
    top: 840px;
    color: rgba(0, 0, 0, 1);
    right: 31px;
    width: 45px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-rectangle403 {
    top: 869px;
    left: 799px;
    width: 55px;
    height: 44px;
    position: absolute;
  }
  .homepage-rectangle404 {
    top: 869px;
    left: 879px;
    width: 55px;
    height: 44px;
    position: absolute;
  }
  .homepage-rectangle406 {
    top: 869px;
    right: 106px;
    width: 55px;
    height: 44px;
    position: absolute;
  }
  .homepage-rectangle407 {
    top: 869px;
    right: 26px;
    width: 55px;
    height: 44px;
    position: absolute;
  }
  .homepage-rectangle405 {
    top: 869px;
    left: 959px;
    width: 55px;
    height: 44px;
    position: absolute;
  }
  .homepage-rectangle409 {
    top: 951px;
    left: 0px;
    width: 1440px;
    height: 470px;
    position: absolute;
  }
  .homepage-ellipse9 {
    top: 1124px;
    left: 97px;
    width: 153px;
    height: 143px;
    position: absolute;
  }
  .homepage-ellipse10 {
    top: 1123px;
    left: 517px;
    width: 153px;
    height: 143px;
    position: absolute;
  }
  .homepage-ellipse11 {
    top: 1124px;
    left: 305px;
    width: 153px;
    height: 143px;
    position: absolute;
  }
  .homepage-text26 {
    top: 992px;
    left: 740px;
    color: rgba(0, 0, 0, 1);
    width: 84px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-rectangle413input {
    top: 1185px;
    right: 51px;
    width: 409px;
    height: 165px;
    position: absolute;
  }
  .homepage-rectangle414input {
    top: 1029px;
    right: 51px;
    width: 409px;
    height: 35px;
    position: absolute;
  }
  .homepage-rectangle415input {
    top: 1133px;
    right: 51px;
    width: 409px;
    height: 35px;
    position: absolute;
  }
  .homepage-rectangle416input {
    top: 1081px;
    right: 51px;
    width: 409px;
    height: 35px;
    position: absolute;
  }
  .homepage-text28 {
    top: 1037px;
    color: rgba(0, 0, 0, 1);
    right: 367px;
    width: 80px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text30 {
    top: 1193px;
    color: rgba(106, 106, 106, 1);
    right: 330px;
    width: 117px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text32 {
    top: 1141px;
    color: rgba(0, 0, 0, 1);
    right: 367px;
    width: 80px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-frame1 {
    top: 1089px;
    right: 367px;
    width: 80px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .homepage-text34 {
    color: rgba(0, 0, 0, 1);
    width: 80px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text36 {
    top: 1362px;
    left: 60px;
    color: rgba(0, 0, 0, 1);
    width: 339px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-line1 {
    top: 1353px;
    left: 59.998779296875px;
    width: 820px;
    height: 1px;
    position: absolute;
  }
  .homepage-circuit-technology-logo11 {
    top: 0px;
    left: 23px;
    width: 245px;
    height: 81px;
    position: absolute;
  }
  .homepage-circuit-technology-logo12 {
    top: 840px;
    left: 23px;
    width: 245px;
    height: 81px;
    position: absolute;
  }
  .homepage-text38 {
    top: 1047px;
    left: 127px;
    color: rgba(0, 0, 0, 1);
    width: 93px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text40 {
    top: 1047px;
    left: 325px;
    color: rgba(0, 0, 0, 1);
    width: 114px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homepage-text42 {
    top: 1046px;
    left: 556px;
    color: rgba(0, 0, 0, 1);
    width: 76px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  